<!-- Footer -->
<footer id="footer">
  <div class="inner">
  <ul class="icons">{%
  for socloc in site.social %}{%
    if socloc[1] %}{%
      if socloc[0] == 'email' %}
    <li><a target="_blank" href="{%
        if socloc[1] contains '@' %}mailto:{{ socloc[1] }}{%
        else %}{{ socloc[1] }}{%
        endif %}">email</a></li>{%
      else %}
    <li><a target="_blank" href="{{ socloc[1] }}">{{ socloc[0] | replace:'-square','' | replace:'-official','' }}</a></li>{%
      endif %}{%
    endif %}{%
  endfor %}
  </ul>
  <ul class="copyright">
    <li>&copy; {%
    assign thisyear = site.time | date: "%Y" %}{%
    if site.first_published %}{%
      capture diff %}{{ site.first_published | minus:thisyear }}{%
      endcapture %}{%
      if diff contains '-' %}{{ site.first_published }}, {%
      endif %}{%
    endif %}{{ thisyear }} {%
    if site.owner.name %}{{ site.owner.name }}{%
    else %}{{ site.title }}{%
    endif %}</li>
    <li><a href="{{ '/credits/' | prepend: site.baseurl }}">Credits</a></li>
  </ul>
  </div>
</footer>
