{%   case include.type
%}{% when 'tip'
%}{%   assign label = 'TIP'
%}{%   assign Nvariant = '1'
%}{% when 'warning'
%}{%   assign label = 'WARNING'
%}{%   assign Nvariant = '2'
%}{% when 'important'
%}{%   assign label = 'IMPORTANT'
%}{%   assign Nvariant = '3'
%}{% when 'did-you-know'
%}{%   assign label = 'DID YOU KNOW'
%}{%   assign Nvariant = '1'
%}{% when 'faq'
%}{%   assign label = 'FAQ'
%}{%   assign Nvariant = '0'
%}{% when 'note'
%}{%   assign label = 'NOTE'
%}{%   assign Nvariant = '0'
%}{% else
%}{%   assign label = 'NOTE'
%}{%   assign Nvariant = '0'
%}{% endcase
%}<table class="alt" style="width:95%;margin-left:0.5em;">
<tr><td class="Nvar{{ Nvariant }}"><span class="note-label">{{ label }}</span>{{ include.text }}</td></tr></table>
