{%- comment -%}
  Renders a list of posts (include.posts) grouped by year.
  Reuses the site's [dd Mon] log-list style. Year labels are list
  items, not stray <br>/<h5> children of the <ul>.
{%- endcomment -%}
{%- assign yr = '0000' -%}
<ul class="topic-year-list">{%- for post in include.posts -%}
  {%- assign y = post.date | date: '%Y' -%}
  {%- if y != yr -%}{%- assign yr = y -%}
  <li class="tyl-year"><p class="tyl-year-label">{{ y }}</p></li>{%- endif -%}
  <li class="tyl-row">
    <code>[{{ post.date | date: '%d %b' }}]</code>
    <a href="{{ post.url | prepend: site.baseurl }}"><b>{{ post.title }}</b></a>
    {{ post.excerpt | strip_html | truncatewords: 12 }}
  </li>{%- endfor -%}
</ul>
