{%- comment -%}
  Renders a list of posts (include.posts) grouped by year.
  Reuses the site's <code>[dd Mon]</code> log-list style.
{%- endcomment -%}
{%- assign yr = '0000' -%}
<ul style="list-style-type: none;">{%- for post in include.posts -%}
  {%- assign y = post.date | date: '%Y' -%}
  {%- if y != yr -%}{%- assign yr = y -%}
  <br /><h5>{{ y }}</h5>{%- endif -%}
  <li style="padding-bottom: 6px;"><code>[{{ post.date | date: '%d %b' }}]</code>&nbsp;
    <a href="{{ post.url | prepend: site.baseurl }}" style="white-space: nowrap;"><b>{{ post.title }}</b></a>&nbsp;
    {{ post.excerpt | strip_html | truncatewords: 12 }}</li>{%- endfor -%}
</ul>
