<!DOCTYPE html>
{% include topcomment.html %}
<html lang="{{ site.lang }}" data-theme="{{ page.theme | default: 'security' }}"{% if page.theme %} data-theme-lock="true"{% endif %}>

  {% include head.html %}

  <body class="is-preload">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

      {% include header.html %}

      <article{%
        if page.background-image %} id="main"{%
        elsif page.options contains 'minihead' %} id="minihead"{%
        else %} id="standard"{%
        endif %}>

        {% include header-inner.html %}

        {{ content }}

      </article>

      {% include footer.html %}

      {% include scripts.html %}

    </div>

  </body>

</html>